{% extends 'base.html' %}
{% block content %}
    

  
<div class="card-group">
{% for key, values in recipes.items() %}
        <div class="card text-center" class="card-body" style="width: fit-content">
        <div>
            <h6 class="card-title" style="height:26px"> {{key}}</h6>
        </div>    
        <div>
            <img src ="{{values[1]}}" class="img-thumbnail" style="height:250px;width:400px" >
        </div>
            <a href="{{values[0]}}" class = "btn btn-success"> View Recipe</a>
        <div class="card-footer">
            <small class="text-muted">Ready In: {{values[2]}} minutes</small>
            </div>
        </div>       
{% endfor %}
</div>
<br>
<br>


</div>

{% endblock %}
