{% extends 'base.html' %}
{% block content%}
{% for msg in get_flashed_messages()%}
<p> {{msg}}</p>
{% endfor%}
<div class="text-center">
    <h1 class="display-4">Register</h1>
    <p class="lead">Register below to join our application.</p>

    <form method="POST">
    
      {{ form.hidden_tag() }}
    
      {% for field in form
      if field.widget.input_type != 'hidden' %}
      <p>
        {{ field.label }}
        {{ field}}
    
        {% for error in field.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
      </p>
      {% endfor %}
  
      <button class="btn btn-success" type="submit">Register</button>
  
    </form>
  </div>

{% endblock %}

